<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Calculator</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
            $("#gini-button").click(function(){
                var n = $("#n-input").val();
                var x = $("#x-input").val();
                var csrf_token = $("input[name='csrfmiddlewaretoken']").val();
                $.ajax({
                    type: "POST",
                    url: "{% url 'mainapp:calculator' %}",
                    data: {n: n, x: x, calculator_type: "gini", csrfmiddlewaretoken: csrf_token},
                    success: function(data){
                        $("#result").html("Gini: " + data.result.toFixed(2));
                    }
                });
            });

            $("#entropy-button").click(function(){
                var n = $("#n-input").val();
                var x = $("#x-input").val();
                var csrf_token = $("input[name='csrfmiddlewaretoken']").val();
                $.ajax({
                    type: "POST",
                    url: "{% url 'mainapp:calculator' %}",
                    data: {n: n, x: x, calculator_type: "entropy", csrfmiddlewaretoken: csrf_token},
                    success: function(data){
                        $("#result").html("Entropy: " + data.result.toFixed(2));
                    }
                });
            });


            $("#bientropy-button").click(function(){
                var n = $("#n-input").val();
                var csrf_token = $("input[name='csrfmiddlewaretoken']").val();
                $.ajax({
                    type: "POST",
                    url: "{% url 'mainapp:calculator' %}",
                    data: {n: n, calculator_type: "bientropy", csrfmiddlewaretoken: csrf_token},
                    success: function(data){
                        $("#result").html("Binary Entropy: " + data.result.toFixed(2));
                    }
                });
            });
		});
	</script>
</head>
<body>
	<h1>Calculator</h1>
    <p>gini = 1 - (x/n)<sup>2</sup> - ((n-x)/n)<sup>2</sup></p>
    <p>entropy = (x / n) * log<sub>10</sub>(n / x) + ((n - x) / n) * log<sub>10</sub>(n / (n - x))</p>
    <p>binary_entropy = (n*0.1) * log<sub>2</sub>(1/(n*0.1)) + (1-(n*0.1)) * log<sub>2</sub>(1/(1-(n*0.1))))</p>
    <br>
	<label for="n-input">n: </label>
	<input type="number" id="n-input">
	<label for="x-input">x: </label>
	<input type="number" id="x-input">
	{% csrf_token %}
	<button id="gini-button">Gini Calculator</button>
	<button id="entropy-button">Entropy Calculator</button>
	<button id="bientropy-button">Binary Entropy Calculator</button>
	<div id="result"></div>
</body>
</html>
